{% extends "index.html" %}

{% block captura  %}
<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip({
	        placement : 'right'
	    });
	});
</script>
	<h2 class="bg-primary">Captura</h2>
	<form action="" class="form-horizontal" role="form" method="post" id="tbl1">{% csrf_token %}
		<table class="table table-condensed table-bordered">
			<thead>
			{% for campo in form.visible_fields  %}
					<td>{{campo.label}}</td>
			{% endfor %}
			</thead>
			<tr>
			{% for campo in form.visible_fields  %}
					<td>{{campo}}
					{% if campo.errors %}
						<a href="#" data-toggle="tooltip" data-original-title="{{campo.errors.as_text}}" class="error">
							<span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-original-title="{{campo.errors.as_text}}" aria-hidden="true"></span>
						</a>
					{% endif %}
					</td>
			{% endfor %}
			</tr>
		</table>
		<input class="btn btn-primary" type="submit" value="Guardar">
	</form>

{% endblock %}