/*Login*/
#loginform
{	
	margin: auto;
	border-style: groove;
	border-radius: 5px;
	padding: 3em 2em 2em 0em;
}

#tbl1
{
	margin:auto;
	padding: 0 1em 0 1em;

}


h2
{
	text-align: center;
	margin:auto;
	padding: 0.2em 0 0.2em 0;
}
#cuerpo
{
	margin: auto;
}

#btnNuevo
{
	margin:0.5em 0 0.5em 0;

}

@media screen and (min-width: 800px) {
	#loginform
		{	
			margin-top: 5em;
			width: 30%;
		}
	#tbl1
		{
			width:50%;
		}
	#cuerpo
		{
			width: 70%;
		}
	#btnNuevo
		{
			width: 180px;
			
		}
}

@media screen and (max-width: 500px) {
	#loginform
		{	
			margin-top: 1em;
			width: 90%;
		}
	#tbl1
		{
			width:90%;
		}
	#cuerpo
		{
			width: 90%;
		}
	#btnNuevo
		{
			width: 120px;
			
		}
}

#loginform input, img, label
{
	max-width: 100%;
	display: inline-block;
	margin: 0.5em 1em 0.5em 1em;
}

#logo
{
	max-width: 50%;
	min-width: 20%;
	height: auto;
	margin: auto;
}
/*Termina login*/